extends layout

block content
  h1 Charades Chat
  p.lead A chatroom to play CharadeLingo.
  ul#rooms
  form#roomForm(action="")
    input#roomname
    button Create Room
  ul#messages
  form#chatForm(action="")
    input#m(autocomplete="off")
    button Send