extends layout

block content

  
  h1(style='text-align:center;') Charades Chat
  p.lead(style='text-align:center;') A chatroom to play CharadeLingo.
  
  p.user.profile.name
  ul#messages
  form#chatForm(action="")
    input#m(autocomplete="off")
    input(type='hidden', name='curUser', id='curUser', value='#{user}')
    button Send